h1 {
  color: #000;
}
.logo {display: inline-block;padding: 15px 0;}
.logo img {
  max-width: 100%;
  width: 160px;
  height: auto;
  display: block;
}
.nav-link {display: inline-block;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
.container {padding: 0 15px;display: flex;}
header .nav {box-shadow: 0 0 5px #bdbdbd;}
header ul {margin: 0;padding: 0 15px;}
header ul li {display: inline-block;padding: 0 10px;line-height: 55px;}

.App-link {
  color: #61dafb;
}
.text-center {text-align: center;}

.tab-main {width: 100%;}
body .tab-sec {width: 47%;margin: 0 auto;border: 1px solid #ccc !important;padding: 0;position: relative;}
body .tab-sec img {max-width: 100%;}
body .tab-sec span {position: absolute;top: 35%;right: 0;left: 0;color: #fff;font-size: 40px;}
.tab-content {margin: 20px;}
.card {padding: 15px;}
.nav-tabs {border: none;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
